# Ignorar o arquivo de configuração com senhas/IPs
config.json
compilar.txt

# Ignorar arquivos temporários e de build
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store

# Ignorar pastas criadas pelo PyInstaller
/build/
/dist/
*.spec

# Criar o executável
# pyinstaller --onefile main.pyk
